<header>
  <div class="container">
    <a routerLink="/" class="logo">QuantumRecipes</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/add">New Recipe</a></li>
      </ul>
    </nav>
  </div>
</header>