<h1>Edit Recipe</h1>

<form [formGroup]="updateForm" (ngSubmit)=onSubmit()>

  <div *ngIf='recipe'>
    <label>
      Title:
      <input id="txtTitle" type="text" formControlName="title" />
      <div *ngIf="submitted && updateForm.controls.title.errors" class="error">
        <div *ngIf="updateForm.controls.title.errors.required">Title is required</div>
      </div>
    </label>

    <label>
      Description:
      <textarea id="txtDescription" formControlName="description"></textarea>
      <div *ngIf="submitted && updateForm.controls.description.errors" class="error">
        <div *ngIf="updateForm.controls.description.errors.required">Description is required</div>
      </div>
    </label>

    <label>
      Instructions:
      <textarea id="lblInstructions" formControlName="instructions"></textarea>
      <div *ngIf="submitted && updateForm.controls.instructions.errors" class="error">
        <div *ngIf="updateForm.controls.instructions.errors.required">Instructions are required</div>
      </div>
    </label>

  </div>
  <label>
    Ingredients:
    <div id="ingredientsContainer" formArrayName="ingredients" *ngFor="let ingredient of updateForm.get('ingredients')['controls'];let i = index"
      class=".ingredients">
      <div [formGroupName]="i">
        <!--ingredient name-->
        <input [id]="'name'+i" type="text" style="display: block;width: 30%;margin-bottom: 20px;padding: 1em;float:left; margin-right:10px;"
          formControlName="name" placeholder="Ingredient" />
        <!--ingredient amount-->
        <input [id]="'amount'+i" type="text" style="display: block;width: 15%;margin-bottom: 20px;padding: 1em;"
          formControlName="amount" placeholder="Amount" />
        <!--ingredient validation-->
        <div *ngIf="submitted && ingredient.controls.name.errors" style="margin-right:10px" class="error">
          <div *ngIf="ingredient.controls.name.errors.required">Name is required</div>
        </div>
          <div *ngIf="submitted && ingredient.controls.amount.errors" class="error">
            <div *ngIf="ingredient.controls.amount.errors.required">Amount is required</div>
          </div>
          <!--ingredient id-->
          <input [id]="'id'+i" type="text" style="display:none" formControlName="id" />
        </div>
      </div>
  </label>
   <!--buttons-->
  <input type="button" value="Remove Ingredient" style="margin-left:21.5%" class="btn" (click)="removeIngredient()">
  <input type="button" value="Add Ingredient" class="btn" style="margin-left:20px" (click)="newIngredient()">
  <br><br>
   <!--submit-->
  <input type="submit" value="Submit" class="btn" style="float:right">
</form>