ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        
        background: rgb(240, 240, 240);
        padding: 2em;
        border-radius: 5px;
        margin-bottom: 7px;
    }

    li:hover{
        cursor: pointer;
        border-style: solid;
        border-width: 2px;
        border-color: #333;
        font-size: 1.1em;
        font-weight: 1.1em;
    }
}

.recipeDetails{
    height:80%;
    width:80%;
    margin: 0 auto;
    display: none;
    p{
        margin-left: 3%;
    }
}
.btn {
    background: #7700FF;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}