<h1>Recipes</h1>

<ul *ngIf="recipes">
  <p style="text-align:center">(click one)</p><br>
  <ul *ngFor="let recipe of recipes;let i = index">
      <div id="divClickable" (click)="showDetails(i)">
      <li [id]="'recipeTitle'+i" style="padding:10px">
        <h3>{{recipe.title}}<br></h3>
        <div [id]="'recipeDetails'+i" class="recipeDetails">
          <h5>Description:</h5>
          <p>{{recipe.description}}<br><br></p>
          <h5>Instructions:</h5>
          <p>{{recipe.instructions}}</p>
          <h5>Ingredients:</h5>
          <label *ngFor="let ingredient of recipe.ingredients">
            <p>{{ingredient.amount}} - {{ingredient.name}}</p>
          </label>
        </div>
        <p [id]="'recipeId'+i" style="display:none">{{recipe.id}}</p>
        <div [id]="'recipeButtons'+i" style="text-align: right;display: none;">
            <input type="button" class="btn" value="Delete" style="margin-right:10px" (click)="deleteRecipe(i)">
            <input type="button" class="btn" value="Edit" (click)="editRecipe(i)">
          </div>
      </li>
    </div>
  </ul>
</ul>