<h1>New Recipe</h1>

<form [formGroup]="addForm" (ngSubmit)=onSubmit()>

    <h5 *ngIf="success">Your recipe has been added!</h5><br>

    <label>
        Title:
        <input id="txtTitle" type="text" formControlName="title">
        <div *ngIf="submitted && addForm.controls.title.errors" class="error">
            <div *ngIf="addForm.controls.title.errors.required">Title is required</div>
        </div>
    </label>

    <label>
        Description:
        <textarea id="txtDescription" formControlName="description"></textarea>
        <div *ngIf="submitted && addForm.controls.description.errors" class="error">
            <div *ngIf="addForm.controls.description.errors.required">Description is required</div>
        </div>
    </label>

    <label>
        Instructions:
        <textarea id="lblInstructions" formControlName="instructions"></textarea>
        <div *ngIf="submitted && addForm.controls.instructions.errors" class="error">
            <div *ngIf="addForm.controls.instructions.errors.required">Instructions are required</div>
        </div>
    </label>

    <label>
        Ingredients:
        <div id="ingredientsContainer" formArrayName="ingredients" *ngFor="let ingredient of addForm.get('ingredients')['controls'];let i = index"
            class=".ingredients">
            <div [formGroupName]="i">
                 <!--ingredient name-->
                <input [id]="'name'+i" type="text" style="display: block;width: 30%;margin-bottom: 20px;padding: 1em;float:left; margin-right:10px;"
                    formControlName="name" placeholder="Ingredient" />
               
                     <!--ingredient amount-->
                <input [id]="'amount'+i" type="text" style="display: block;width: 15%;margin-bottom: 20px;padding: 1em;"
                    formControlName="amount" placeholder="Amount" />
                    <!--ingredient validation-->
                    <div *ngIf="submitted && ingredient.controls.name.errors" style="margin-right:10px" class="error">
                            <div *ngIf="ingredient.controls.name.errors.required">Name is required</div>
                        </div>
                <div *ngIf="submitted && ingredient.controls.amount.errors" class="error">
                    <div *ngIf="ingredient.controls.amount.errors.required">Amount is required</div>
                </div>
            </div>
        </div>
    </label>
    <!--buttons-->
    <input type="button" value="Remove Ingredient" style="margin-left:21.5%" class="btn" (click)="removeIngredient()">
    <input [disabled]="addForm.get('ingredients').invalid" type="button" value="Add Ingredient" class="btn" style="margin-left:20px" (click)="newIngredient()">
    <br><br>
     <!--submit-->
    <input type="submit" value="Submit" class="btn" style="float:right">
</form>